---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head><body class="bg-background relative w-screen scroll-auto max-w-[100%]">
    <slot name="before" />
    <main class="lg:pt-20">
      <slot />
    </main>
    <slot name="after" />
    <style is:global>
      @font-face {
        font-family: "SAOUI";
        src: url("/fonts/SaoUI/SAOUI-Regular.otf");
        font-weight: normal;
      }

      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway/Raleway-Regular.ttf");
        font-weight: normal;
      }
      @font-face {
        font-family: "Raleway";
        src: url("/fonts/Raleway/Raleway-SemiBold.ttf");
        font-weight: bold;
      }

      @font-face {
        font-family: "Oswald";
        src: url("/fonts/Oswald/Oswald-Regular.ttf");
        font-weight: normal;
      }

      * {
        scrollbar-width: thin;
        scrollbar-color: rgba(123, 74, 226, 0.6) #1f2937;
        @apply font-raleway text-gray-300;
        scroll-behavior: smooth;
      }

      p {
        text-wrap: pretty;
      }
    </style>
  </body>
</html>
