---
interface Props {
  className?: string;
  type?: "primary" | "success";
}

const { className, type } = Astro.props;
const realType = type ?? "primary";
---

<span 
    class:list={[
        "bg-opacity-20 p-2 rounded-md font-semibold",
        realType === "primary" && "bg-primary text-primary",
        realType === "success" && "bg-green-500 text-green-500",
        className ?? ""
    ]}
>
    <slot />
</span>
