---
interface Props {
  className?: string;
  label?: string;
  id?: string;
  name?: string;
  checked?: boolean;
  required?: boolean;
  disabled?: boolean;
  onInput?: any;
}
const { className, label, ...rest } = Astro.props;
---

<label class={`inline-flex items-center gap-2 cursor-pointer select-none ${className ?? ""}`}>
  <input
    type="checkbox"
    class="relative peer appearance-none w-5 h-5 border-2 border-primary rounded-md bg-gray-900 checked:bg-primary checked:border-primary transition-all duration-200 focus:ring-2 focus:ring-primary
      checked:after:content-[''] checked:after:block checked:after:w-2.5 checked:after:h-2.5 checked:after:rounded-sm checked:after:bg-white checked:after:absolute checked:after:left-1/2 checked:after:top-1/2 checked:after:-translate-x-1/2 checked:after:-translate-y-1/2"
    {...rest}
  />
  <span class="text-gray-300 font-raleway font-medium">{label}</span>
</label>

